.lightbox {
  position: absolute;
  top: 0;
  left: 2rem;
  right: 2rem;
  height: 100%;
  visibility: hidden;
  display: none;
  z-index: 1000;
  &.light {
    display: block;
  }

  &__nail {
    position: relative;
  }
  &__close {
    display: block;
    text-align: center;
    margin: 2.5rem;
    a {
      font-size: 2rem;
      font-weight: 700;
      color: var(--White);
      &:hover {
        color: var(--Orange);
      }
    }
  }
  &__main--img {
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 475px;
    width: 100%;
    display: block;
    position: relative;
  }
  &__img {
    width: 100%;
  }

  &__arrow--one,
  &__arrow--two {
    position: absolute;
    top: 15rem;
    transform: translateY(-50%);
    background-color: var(--White);
    padding: 0.75rem;
    display: block;
    text-align: center;
    border-radius: 50%;
  }
  &__arrow--one {
    left: 6rem;
  }
  &__arrow--two {
    right: 6rem;
  }
  &__subimages {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;

    a img {
      border-radius: 7px;
      border: 1px solid var(--Orange);
      width: 3rem;
      object-fit: cover;

      //   gap: 1rem;
    }
  }
}

.lightboxes {
  position: relative;
}
@media screen and (min-width: 500px) {
  .lightbox {
    &__subimages {
      a img {
        width: 5rem;
      }
    }
  }
}
@media screen and (min-width: 610px) {
  .lightbox {
    &__subimages {
      a img {
        width: 7rem;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .lightbox {
    visibility: visible;
    &__main {
      position: relative;
    }
    &__main--img {
      margin: 0 auto;
      display: block;
    }

    &__subimages {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      a img {
        width: 5rem;
        object-fit: cover;

        //   gap: 1rem;
      }
    }
  }
}
