@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&family=Roboto+Mono:wght@100;400;500;700&family=Ultra&display=swap");

:root {
  --family: Kumbh Sans, Serif;
  --font-weight: 400px;
  --text-dark-primary: hsl(238, 29%, 16%);
  --text-light-primary: hsl(14, 88%, 65%);
  --text-dark-neutral: hsl(237, 12%, 33%);
  --text-light-neutral: hsl(240, 6%, 50%);
  --divider-colours: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--family);
  background: linear-gradient(
    to top right,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%),
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  font-size: 12px;
}
img {
  width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 1.5rem auto;
  color: var(--text-dark-neutral);
  padding-top: 10rem;
}

main {
  position: relative;
  background: #fff;
  max-width: 375px;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 7rem auto;
  border-radius: 1rem;
}
.image__section {
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
}
.image__section::after {
  position: absolute;
  content: url("/images/bg-pattern-mobile.svg");
  width: 100%;
  height: 100%;
  top: 8rem;
  left: 0;
}
.question__section {
  margin-top: -2rem;
  width: 100%;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--text-light-neutral);
}
.question:not(:last-child) {
  border-bottom: 1px solid var(--divider-colours);
  margin-bottom: 1.5rem;
}
.FAQ {
  margin-bottom: 10px;
  color: var(--text-dark-neutral);
}
.FAQ:hover {
  color: var(--text-light-primary);
}
.mobile__image {
  width: 16rem;
}
.FAQ.show {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
.answers {
  display: none;
}
.answers.show {
  display: block;
}
button {
  border: none;
  width: 2rem;
  background: transparent;
  cursor: pointer;
  text-align: right;
  margin-left: auto;
}
.arrow {
  width: 1rem;
  margin-left: auto;
}
.arrow.show {
  transform: rotate(180deg);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -5rem;
}
.attribution a {
  color: #eee;
}
@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }
  main {
    margin: 2.5rem auto;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    padding: 0 5rem;
    overflow: hidden;
  }
  .question__section {
    transform: translateY(-4.5rem);
  }
  .mobile__image {
    display: block;
    width: 25rem;
    margin-right: -5rem;
  }
  .image__section {
    position: relative;
    width: auto;
    top: 0;
    transform: translate(-50%);
    left: 2rem;
    margin-top: 1.8rem;
  }
  .image__section::before {
    position: absolute;
    content: url("/images/bg-pattern-desktop.svg");
    top: -21rem;
    left: -35rem;
    z-index: -1;
  }
  .question__section {
    margin-top: -3rem;
    width: 50%;
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: var(--text-light-neutral);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 0;
  }
}
