.about {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__info {
    text-align: center;
    font-size: 1.2rem;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    p {
      font-size: 1.1rem;
      margin: 1rem 0;
    }
  }
  &__details {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }
  &__one {
    margin-bottom: 2rem;
    h3 {
      background: var(--VeryPaleRed);
      border-radius: 2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.7rem;
    }
    p {
      font-size: 1.05rem;
    }
  }
  &__span {
    background-color: var(--BrightRed);
    color: var(--VeryPaleRed);
    display: inline-block;
    padding: 0.7rem 1.3rem;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 1.5rem;
    &__info {
      text-align: start;
      max-width: 500px;
    }
    &__details {
      max-width: 500px;
    }
    &__one {
      h3 {
        background: none;
        border-radius: 2rem;
        font-size: 1.2rem;
      }
    }
  }
}
