.main__cta {
  background-color: var(--BrightRed);
  color: var(--VaryLightGray);
  padding: 3rem 1rem;
  font-size: 2.3rem;
  &--info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  &--btn {
    background-color: var(--VaryLightGray);
    color: var(--BrightRed);
  }
}

@media screen and (min-width: 768px) {
  .main__cta {
    background-color: var(--BrightRed);
    color: var(--VaryLightGray);
    padding: 3rem;
    font-size: 2.8rem;
    &--info {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
    }
    &--btn {
      background-color: var(--VaryLightGray);
      color: var(--BrightRed);
    }
  }
}
